USE [master]
GO
/****** Object:  Database [OMRP]    Script Date: 4/26/2023 1:09:26 AM ******/
CREATE DATABASE [OMRP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OMRP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OMRP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OMRP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OMRP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OMRP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OMRP]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 4/26/2023 1:09:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID_LOGIN] [char](5) NOT NULL,
	[USERNAME] [char](20) NULL,
	[PASS] [char](20) NULL,
	[CREATED_DATE] [datetime] NULL,
	[ROLE] [nvarchar](20) NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID_LOGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCUMULATION_POINTS]    Script Date: 4/26/2023 1:09:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCUMULATION_POINTS](
	[ID_CUSTOMERS] [char](5) NOT NULL,
	[ID_TYPEP] [char](5) NOT NULL,
	[POINTS] [int] NULL,
 CONSTRAINT [PK_POINTSOFCUS] PRIMARY KEY CLUSTERED 
(
	[ID_CUSTOMERS] ASC,
	[ID_TYPEP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CART]    Script Date: 4/26/2023 1:09:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART](
	[ID_CUSTOMERS] [char](5) NOT NULL,
	[ID_PRODUCTS] [int] NULL,
	[NAME_PRODUCTS] [nvarchar](80) NOT NULL,
	[PRICE] [int] NULL,
	[QUANTITY] [int] NULL,
	[POINT_TYPE] [nvarchar](50) NULL,
 CONSTRAINT [PK_CART] PRIMARY KEY CLUSTERED 
(
	[ID_CUSTOMERS] ASC,
	[NAME_PRODUCTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHATBOX]    Script Date: 4/26/2023 1:09:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHATBOX](
	[ID_CHAT] [char](10) NOT NULL,
	[ID_CUSTOMERS] [char](5) NULL,
	[CREATED_DATE] [date] NULL,
	[STATUS] [char](20) NULL,
 CONSTRAINT [PK_CHATBOX] PRIMARY KEY CLUSTERED 
(
	[ID_CHAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTENT_CHATBOX]    Script Date: 4/26/2023 1:09:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTENT_CHATBOX](
	[STT] [int] NOT NULL,
	[ID_CHAT] [char](10) NOT NULL,
	[MESSAGE_CREATED] [datetime] NULL,
	[CONTENT] [nvarchar](200) NULL,
	[RATE] [nchar](3) NULL,
 CONSTRAINT [PK_CONTENT_CHATBOX] PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[ID_CHAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTRACT]    Script Date: 4/26/2023 1:09:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRACT](
	[ID_CONTRACT] [char](5) NOT NULL,
	[TAX] [char](10) NULL,
	[DEPUTY] [nvarchar](100) NULL,
	[DATE_CONTRACT] [datetime] NULL,
	[EFFECTIVE_TIME] [datetime] NULL,
	[AMOUNTTOPOINTS] [float] NULL,
	[COMMISSION] [int] NULL,
	[CONTRACT_MANAGER] [char](5) NULL,
	[CONTRACT_PARTNER] [char](5) NULL,
	[STATUS] [nvarchar](10) NULL,
 CONSTRAINT [PK_CONTRACT] PRIMARY KEY CLUSTERED 
(
	[ID_CONTRACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 4/26/2023 1:09:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[ID_CUSTOMERS] [char](5) NOT NULL,
	[NAME] [nvarchar](80) NULL,
	[BIRTHDAY] [date] NULL,
	[ADDRESS] [nvarchar](200) NULL,
	[EMAIL] [char](50) NULL,
	[PHONE] [char](10) NULL,
 CONSTRAINT [PK_CUSTOMERS] PRIMARY KEY CLUSTERED 
(
	[ID_CUSTOMERS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_PAY]    Script Date: 4/26/2023 1:09:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_PAY](
	[STT] [int] NOT NULL,
	[ID_REVENUE] [int] NOT NULL,
	[MONTH_REV] [int] NOT NULL,
	[DAY_REV] [int] NULL,
	[POINTS] [int] NULL,
	[QUANTITY] [int] NULL,
	[TOTAL] [int] NULL,
 CONSTRAINT [PK_DETAIL_PAY] PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[ID_REVENUE] ASC,
	[MONTH_REV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 4/26/2023 1:09:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[ID_EMP] [char](5) NOT NULL,
	[NAME] [nvarchar](20) NULL,
	[BIRTHDAY] [date] NULL,
	[EMAIL] [char](50) NULL,
	[PHONE] [char](10) NULL,
	[ADDRESS] [nvarchar](200) NULL,
	[SALARY] [float] NULL,
	[ALLOWANCE] [float] NULL,
	[ROLE] [nvarchar](20) NULL,
 CONSTRAINT [PK_EMP] PRIMARY KEY CLUSTERED 
(
	[ID_EMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXCHANGE_POINT]    Script Date: 4/26/2023 1:09:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCHANGE_POINT](
	[ID_PRODUCTS] [int] NOT NULL,
	[PRICE] [int] NULL,
	[ID_PARTNERS] [char](5) NOT NULL,
 CONSTRAINT [PK_EXPOINTS] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTS] ASC,
	[ID_PARTNERS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEEDBACK]    Script Date: 4/26/2023 1:09:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEEDBACK](
	[STT] [int] NOT NULL,
	[ID_PRODUCTS] [int] NOT NULL,
	[ID_CUSTOMERS] [char](5) NOT NULL,
	[NAME] [nvarchar](80) NULL,
	[FEEDBACK] [nvarchar](100) NULL,
	[RATE] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_FEEDBACK] PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[ID_PRODUCTS] ASC,
	[ID_CUSTOMERS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORY]    Script Date: 4/26/2023 1:09:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORY](
	[ID_TRADE] [int] NOT NULL,
	[ID_CUSTOMERS] [char](5) NULL,
	[ID_PRODUCTS] [int] NULL,
	[NAME] [nvarchar](80) NULL,
	[DATE_TRADE] [datetime] NULL,
	[TOTAL_POINTS] [int] NULL,
	[QUANTITY] [int] NULL,
	[POINT_TYPE] [char](5) NULL,
 CONSTRAINT [PK_TRADE] PRIMARY KEY CLUSTERED 
(
	[ID_TRADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTNERS]    Script Date: 4/26/2023 1:09:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTNERS](
	[ID_PARTNERS] [char](5) NOT NULL,
	[NAME] [nvarchar](80) NULL,
	[EMAIL] [char](50) NULL,
	[ADDRESS] [nvarchar](200) NULL,
	[PHONE] [char](10) NULL,
 CONSTRAINT [PK_PARTNERS] PRIMARY KEY CLUSTERED 
(
	[ID_PARTNERS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY]    Script Date: 4/26/2023 1:09:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY](
	[ID_REVENUE] [int] NOT NULL,
	[ID_PARTNER] [char](5) NULL,
	[MONTH_REV] [int] NULL,
	[YEAR_REV] [int] NULL,
	[TOTAL_POINTS] [int] NULL,
 CONSTRAINT [PK_PAY] PRIMARY KEY CLUSTERED 
(
	[ID_REVENUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 4/26/2023 1:09:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[ID_PRODUCTS] [int] NOT NULL,
	[NAME] [nvarchar](80) NULL,
	[INFOR_PRODUCTS] [nvarchar](200) NULL,
	[ADD_DATE] [datetime] NULL,
	[QUANTITY] [int] NULL,
	[PRICE] [int] NULL,
 CONSTRAINT [PK_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE_PRODUCTS]    Script Date: 4/26/2023 1:09:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_PRODUCTS](
	[ID_PRODUCTS] [int] NOT NULL,
	[TYPE_PROD] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TYPEOFPROD] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTS] ASC,
	[TYPE_PROD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCUMULATION_POINTS]  WITH CHECK ADD  CONSTRAINT [FK_ACCUMULATION_CUS] FOREIGN KEY([ID_CUSTOMERS])
REFERENCES [dbo].[CUSTOMERS] ([ID_CUSTOMERS])
GO
ALTER TABLE [dbo].[ACCUMULATION_POINTS] CHECK CONSTRAINT [FK_ACCUMULATION_CUS]
GO
ALTER TABLE [dbo].[ACCUMULATION_POINTS]  WITH CHECK ADD  CONSTRAINT [FK_ACCUMULATION_TYPE] FOREIGN KEY([ID_TYPEP])
REFERENCES [dbo].[PARTNERS] ([ID_PARTNERS])
GO
ALTER TABLE [dbo].[ACCUMULATION_POINTS] CHECK CONSTRAINT [FK_ACCUMULATION_TYPE]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_CUS_CART] FOREIGN KEY([ID_CUSTOMERS])
REFERENCES [dbo].[CUSTOMERS] ([ID_CUSTOMERS])
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_CUS_CART]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_PROD_CART] FOREIGN KEY([ID_PRODUCTS])
REFERENCES [dbo].[PRODUCTS] ([ID_PRODUCTS])
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_PROD_CART]
GO
ALTER TABLE [dbo].[CHATBOX]  WITH CHECK ADD  CONSTRAINT [FK_CB_CUS] FOREIGN KEY([ID_CUSTOMERS])
REFERENCES [dbo].[CUSTOMERS] ([ID_CUSTOMERS])
GO
ALTER TABLE [dbo].[CHATBOX] CHECK CONSTRAINT [FK_CB_CUS]
GO
ALTER TABLE [dbo].[CONTENT_CHATBOX]  WITH CHECK ADD  CONSTRAINT [FK_CB_CONTENT] FOREIGN KEY([ID_CHAT])
REFERENCES [dbo].[CHATBOX] ([ID_CHAT])
GO
ALTER TABLE [dbo].[CONTENT_CHATBOX] CHECK CONSTRAINT [FK_CB_CONTENT]
GO
ALTER TABLE [dbo].[CONTRACT]  WITH CHECK ADD  CONSTRAINT [FK_CONTRACT_PARTNER] FOREIGN KEY([CONTRACT_PARTNER])
REFERENCES [dbo].[PARTNERS] ([ID_PARTNERS])
GO
ALTER TABLE [dbo].[CONTRACT] CHECK CONSTRAINT [FK_CONTRACT_PARTNER]
GO
ALTER TABLE [dbo].[CONTRACT]  WITH CHECK ADD  CONSTRAINT [FK_MANAGER] FOREIGN KEY([CONTRACT_MANAGER])
REFERENCES [dbo].[EMPLOYEES] ([ID_EMP])
GO
ALTER TABLE [dbo].[CONTRACT] CHECK CONSTRAINT [FK_MANAGER]
GO
ALTER TABLE [dbo].[CUSTOMERS]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMERS] FOREIGN KEY([ID_CUSTOMERS])
REFERENCES [dbo].[ACCOUNT] ([ID_LOGIN])
GO
ALTER TABLE [dbo].[CUSTOMERS] CHECK CONSTRAINT [FK_CUSTOMERS]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMP] FOREIGN KEY([ID_EMP])
REFERENCES [dbo].[ACCOUNT] ([ID_LOGIN])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMP]
GO
ALTER TABLE [dbo].[EXCHANGE_POINT]  WITH CHECK ADD  CONSTRAINT [FK_EXC_POINTS] FOREIGN KEY([ID_PARTNERS])
REFERENCES [dbo].[PARTNERS] ([ID_PARTNERS])
GO
ALTER TABLE [dbo].[EXCHANGE_POINT] CHECK CONSTRAINT [FK_EXC_POINTS]
GO
ALTER TABLE [dbo].[EXCHANGE_POINT]  WITH CHECK ADD  CONSTRAINT [FK_EXC_PROD] FOREIGN KEY([ID_PRODUCTS])
REFERENCES [dbo].[PRODUCTS] ([ID_PRODUCTS])
GO
ALTER TABLE [dbo].[EXCHANGE_POINT] CHECK CONSTRAINT [FK_EXC_PROD]
GO
ALTER TABLE [dbo].[FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK_FB_CUS] FOREIGN KEY([ID_CUSTOMERS])
REFERENCES [dbo].[CUSTOMERS] ([ID_CUSTOMERS])
GO
ALTER TABLE [dbo].[FEEDBACK] CHECK CONSTRAINT [FK_FB_CUS]
GO
ALTER TABLE [dbo].[FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK_FB_PROD] FOREIGN KEY([ID_PRODUCTS])
REFERENCES [dbo].[PRODUCTS] ([ID_PRODUCTS])
GO
ALTER TABLE [dbo].[FEEDBACK] CHECK CONSTRAINT [FK_FB_PROD]
GO
ALTER TABLE [dbo].[HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_HIS_CUS] FOREIGN KEY([ID_CUSTOMERS])
REFERENCES [dbo].[CUSTOMERS] ([ID_CUSTOMERS])
GO
ALTER TABLE [dbo].[HISTORY] CHECK CONSTRAINT [FK_HIS_CUS]
GO
ALTER TABLE [dbo].[HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_HIS_PROD] FOREIGN KEY([ID_PRODUCTS])
REFERENCES [dbo].[PRODUCTS] ([ID_PRODUCTS])
GO
ALTER TABLE [dbo].[HISTORY] CHECK CONSTRAINT [FK_HIS_PROD]
GO
ALTER TABLE [dbo].[HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_TYPOINTS] FOREIGN KEY([POINT_TYPE])
REFERENCES [dbo].[PARTNERS] ([ID_PARTNERS])
GO
ALTER TABLE [dbo].[HISTORY] CHECK CONSTRAINT [FK_TYPOINTS]
GO
ALTER TABLE [dbo].[PARTNERS]  WITH CHECK ADD  CONSTRAINT [FK_PARTNERS] FOREIGN KEY([ID_PARTNERS])
REFERENCES [dbo].[ACCOUNT] ([ID_LOGIN])
GO
ALTER TABLE [dbo].[PARTNERS] CHECK CONSTRAINT [FK_PARTNERS]
GO
ALTER TABLE [dbo].[TYPE_PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_TYPE_PROD] FOREIGN KEY([ID_PRODUCTS])
REFERENCES [dbo].[PRODUCTS] ([ID_PRODUCTS])
GO
ALTER TABLE [dbo].[TYPE_PRODUCTS] CHECK CONSTRAINT [FK_TYPE_PROD]
GO
USE [master]
GO
