.form__input{
    height: 40px;
    width: 400px;
    background-color: var(--white);
    border-radius: 25px;
    border: 1px solid var(--primary-color-1);
    margin-bottom: 20px;
}

.form__input, .form__input-label{
    margin-bottom: 20px;
}

.form__input::placeholder{
    padding-left: 40px;
}

.form__register-btn {
    width: 150px;
    height: 50px;
    left: 100%;
    transform: translateX(-100%);
    background: var(--primary-color-1);
    border-radius: 25px;
    border: none;
    margin-top: 40px;
}

.form__input-radio-wrapper{
    height: 40px;
    width: 160px;
    background: #73C2F1;
    border-radius: 33px;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
}