.partner{
    color: var(--primary-color-1);
    background-color: #EEE7E7;
    padding: 5px 20px 5px 20px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 50%;
    transform: translateY(25%);
    width: fit-content;
    box-shadow: 1px 1px 1px 1px var(--primary-color-1);
}
.partner_img{
    position: relative;
    right: 10px;
}
