.partner{
    color: var(--primary-color-1);
    background-color: var(--primary-color-2);
    border-radius: 10px;
    padding: 15px 40px 15px 40px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 50%;
    transform: translateY(25%);
    width: fit-content;
    box-shadow: 3px 4px 5px 1px gray;
}
.partner_img{
    position: relative;
    right: 10px;
    border-radius: 100%;
    background-color: white;

}
