.list_account{
    display: flex;
    height: 100%;
    width: 100%;
}

.list_account-wrapper{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list_account-middle{
    flex: 1;
    margin-top: 140px;
    margin-bottom: 240px;
    width: var(--grid-size);
}

.list_account-middle__wrapper{
    display: flex;
    width: 100%;
    height: 100%;
}

.list_account-content{
    margin-left: 40px;
}
