.main{
    padding: 50px 80px 50px 80px;
    display: block;
    width: 100%;
    /* backgr */
}
.banner{
    display: flex;
    height: 500px;
}
.banner_img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.product_catalog{
    margin: 0 auto;
    width: fit-content;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    
}

.catalog_title{

    margin-bottom: 50px;
    display: inline-block;
    font-size: 20px;
}
.catalog_productList{
    display: flex;
}
.catalog_product{
    height: 180px;
    width: 150px;
    background-color: var(--primary-color-2);
    margin-right: 40px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 100px 1px var(--primary-color-1);
}
.catalog_product_title{
    margin-top: 10px;
    color: var(--primary-color-1);
    font-weight: 800;
    
}

.catalog_arrow{
    background-color: var(--primary-color-2);
    padding: 10px;
    border-radius: 100%;
    margin-top: 50px;
}

.product_list{
  
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: fit-content;
    text-align: center;

}
.product_list__navbar{
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    background-color: var(--primary-color-2);
    border-radius: 20px;
    padding: 10px;
}
.product_list__navbar_title{
    background-color: var(--primary-color-1);
    padding: 5px 30px;
    margin: 0 10px;
    border-radius: 20px;
}

.product_list__grid{
    display: flex;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap:20px;

}
.product_list_product{
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 10px;

    padding: 10px 10px 40px 10px;

}
.product_list_product_img{
    border: solid 1px 10px var(--primary-color-1);
    /* padding: 0px 5px; */
    padding: 0px;
    margin-top: 16px; 
    
}   

.product_list_product_title{
    color: gray;
    margin-top: 10px;
    font-size: 15px;
    /* paddin-bottom: 20px; */
    
}