.register-wrapper{
    display: flex;
    min-width: 350px;
    display: flex;
    flex-direction: column;
}

.form__input{
    height: 40px;
    width: 350px;
    background-color: var(--white);
    border-radius: 25px;
    border: 1px solid var(--primary-color-1);
    margin: 20px 0;
    padding-left: 20px;
}

.form__input, .form__input-label{
    font-size: 1.6rem;
}

.form__input::placeholder{
    font-size: 1.6rem;
}

.form__register-btn {
    width: 120px;
    height: 40px;
    margin-left: 100%;
    transform: translateX(-100%);
    background: var(--primary-color-1);
    border-radius: 25px;
    border: none;
    margin-top: 20px;
    color: var(--white);
}

/* .form__input-radio-wrapper{
    height: 30px;
    width: 140px;
    background: #73C2F1;
    border-radius: 33px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
} */


.form__type-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.form__input-wrapper-body{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form__input-radio-wrapper {
    height: 36px;
    background: var(--primary-color-1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 30px;
    padding: 0 12px;
    color: var(--white-color);
    margin: 0 8px;
    cursor: pointer;
}
.form__input-radio {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}
.form__input-label {
    cursor: pointer;
}