.container{
    margin: 30px;
}
.product_list__grid{
    display: flex;
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap:20px;
    text-align: center;

}
.title{

    background-color: white;
    border: solid 1px var(--primary-color-1);
    width: fit-content;
    padding: 10px 50px;
    border-radius: 20px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 50px;
}