.login {
    /*margin-top: 20px;
     margin-left: 800px; */
}

.login-wrapper{
    display: flex;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}

.form__input{
    height: 40px;
    width: 320px;
    background-color: var(--white);
    border-radius: 25px;
    border: 1px solid var(--primary-color-1);
    margin: 20px 0;
    padding-left: 20px;
}

.form__input, .form__input-label{
    font-size: 1.6rem;
}

.form__input::placeholder{
    font-size: 1.6rem;
}

.form__login-btn {
    width: 180px;
    height: 40px;
    margin-left: 100%;
    transform: translateX(-100%);
    background: var(--primary-color-1);
    border-radius: 25px;
    border: none;
    margin-top: 20px;
    color: var(--white);
}

.form__login-btn::content{
    font-size: 1.6rem;
}