.container{
    /* width: var(--max-width); */
  
    /* margin: 0 auto; */
    margin-top: 50px;
    font-size: 16px;
}
.noti{
    position:absolute;
    z-index: 20;
    background-color: var(--primary-color-1);
    width: max-content;
    padding: 10px 40px;
    color: white;
    border-radius: 20px;
    opacity: 0.5;
    top:-10%;
    animation-name: slide-in-up;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 2;
    animation-direction:alternate;
    animation-timing-function:easy-in-out;
}
@keyframes slide-in-up {
    from {
      transform: translateY(-10%);
    }
  
    to {
      transform: translateY(250px);
    }
  }
.header{
    background-color: white;
    display: grid;
    grid-template-columns: 40% 20% 20% 20% ;
    padding: 20px 50px;
  
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
}
.partner{
    background-color: white;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px 50px;
    /* m */
}
.img{
    margin-left: 100px;
    border: solid 1px var(--primary-color-1);
}
.partner_table{
    margin-top: 24px;
    display: grid;
    grid-row-gap: 10px;
}
.row{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    text-align: center;
    width: 100%;
    border: solid 1px var(--primary-color-1);
    border-radius: 20px;
    align-items: center;
    padding: 10px;
}
.counter{
  
    width: fit-content;
    margin: 0 auto;
    display: flex;
    text-align: center;
    border: solid 1px var(--primary-color-2);
    padding: 10px 10px 5px 10px;
  
}
.counter input{
    position: relative;
    width: 120px;
    text-align: center;
}
.arrow{
    cursor: pointer;
}
.total{
    display: flex;
    /* position: relative; */
    /* margin-left: 100%; */
    width: fit-content;
    margin-left: 75%;

}
.total_value{
    position: relative;
    left: 30px;
    color: #EF5959;
    font-weight: 1000;

}
.buttons{
    /* margin-left: 40%; */
    /* position: relative; */
    width: 100%;
    margin-top: 50px;
    font-weight:700;
    text-align: end;
    margin-bottom: 50px;
    font-size: 14px;
}
.buttons button{
    /* margin-left: 20px; */
    border-radius: 30px;
    padding: 0px 20px 10px 20px;
    /* align-items: center; */
    position: relative;
    height: fit-content;
    color: white;
    background-color: #EF5959;
    margin-left: 20px;
 
}

.delete_icon, .checkout_icon{
    position: relative;
    right: 5px;
    bottom: 50%;
    transform: translateY(25%);
}
.checkout{
    background-color: var(--primary-color-1) !important;
}

.radiobtn{
    border-radius: 100%;
    width: 15px;
    height: 15px;
    background-color: none;
    position: relative;
    left: -30px;
    bottom: -30px;
    border: solid 1px var(--background-color);
}

.radiobtn_click{
    border-radius: 100%;
    width: 15px;
    height: 15px;
    background-color: #3F7CAC;
    position: relative;
    left: -30px;
    bottom: -30px;
    border: solid 1px #3F7CAC;
}
.notexist{
    text-align: center;
    vertical-align: middle;
    display: block;
    font-size: 20px;
    
}
.notexist p {
    margin-bottom: 50px;
}
.gif{
    opacity: 0.5;
}